In [1]:
import pandas as pd

In [2]:
from google.cloud import bigquery

In [3]:
client = bigquery.Client(project="ordinal-nucleus-405213")

sql = """
    SELECT * FROM `da-project-406614.finalise_df_master.master_draft1`
"""

df = client.query(sql).to_dataframe()

/home/ruth/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages/google/auth/_default.py:83: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [4]:
df

,id,Scientific_Name,Common_Name,size,Size_category,Mass,Habitat,Habitat_Category,Migration,Trophic_Level__Feeding_Habits_,Min_Latitude,Max_Latitude,Centroid_Latitude,Centroid_Longitude,Range_Size,General_Describtion,species_status,status
0,88,&dagger;scaniornis lundgreni,None,NaN,None,NaN,None,None,None,None,None,None,None,None,None,None,None,FALLBACK
1,44,abrolhos painted buttonquail,None,NaN,None,NaN,None,None,None,None,None,None,None,None,None,None,None,FALLBACK
2,9369,acanthis cabaret,None,NaN,None,NaN,None,None,None,None,None,None,None,None,None,None,None,FALLBACK
3,10147,acanthis hornemanni,None,NaN,None,NaN,None,None,None,None,None,None,None,None,None,None,None,FALLBACK
4,7470,accipiter chilensis,None,NaN,None,NaN,None,None,None,None,None,None,None,None,None,None,None,FALLBACK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10977,10972,tyto alba,Common Barn-Owl / Western Barn-Owl,458.1,Large,403.32,Human Modified,Open habitats,1,Carnivore,-55.72,58.07,3.24,2.28,63140525.19,None,Least Concern,ENRICHED
10978,9793,volatinia jacarina,Blue-black Grassquit,107.4,Small,9.94,Human Modified,Open habitats,1,Herbivore,-34.70,28.32,-7.41,-61.58,15248241.41,The blue-black grassquit (Volatinia jacarina) ...,extant,ENRICHED
10979,9168,xolmis irupero,White Monjita,208.2,Medium,28.70,Human Modified,Open habitats,2,Carnivore,-41.17,-4.02,-24.73,-57.45,3570599.32,The white monjita (Xolmis irupero) is a specie...,extant,ENRICHED
10980,9579,zenaida auriculata,Eared Dove,250.1,Medium,110.20,Human Modified,Open habitats,1,Herbivore,-55.05,14.10,-20.36,-59.30,11530888.21,The eared dove (Zenaida auriculata) is a New W...,Least Concern,ENRICHED
10981,10790,zenaida macroura,Mourning Dove,286.2,Medium,118.93,Human Modified,Open habitats,1,Herbivore,7.45,56.32,39.64,-99.32,11131808.01,None,extant,ENRICHED

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10982 entries, 0 to 10981
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              10982 non-null  int64
 1   Scientific_Name                 10982 non-null  object
 2   Common_Name                     9141 non-null   object
 3   size                            9141 non-null   float64
 4   Size_category                   9141 non-null   object
 5   Mass                            9141 non-null   float64
 6   Habitat                         9141 non-null   object
 7   Habitat_Category                9141 non-null   object
 8   Migration                       9141 non-null   object
 9   Trophic_Level__Feeding_Habits_  9141 non-null   object
 10  Min_Latitude                    9141 non-null   object
 11  Max_Latitude                    9141 non-null   object
 12  Centroid_Latitude               9141 non-null   object
 13  Centroid_Longitude              9140 non-null   object
 14  Range_Size                      9141 non-null   object
 15  General_Describtion             8712 non-null   object
 16  species_status                  9141 non-null   object
 17  status                          10982 non-null  object
dtypes: float64(2), int64(1), object(15)
memory usage: 1.5+ MB

In [6]:
df.shape

(10982, 18)

In [10]:
df.isna().sum()

id                                   0
Scientific_Name                      0
Common_Name                       1841
size                              1841
Size_category                     1841
Mass                              1841
Habitat                           1841
Habitat_Category                  1841
Migration                         1841
Trophic_Level__Feeding_Habits_    1841
Min_Latitude                      1841
Max_Latitude                      1841
Centroid_Latitude                 1841
Centroid_Longitude                1842
Range_Size                        1841
General_Describtion               2270
species_status                    1841
status                               0
dtype: int64

In [12]:
df = df.fillna(0)

In [13]:
df

,id,Scientific_Name,Common_Name,size,Size_category,Mass,Habitat,Habitat_Category,Migration,Trophic_Level__Feeding_Habits_,Min_Latitude,Max_Latitude,Centroid_Latitude,Centroid_Longitude,Range_Size,General_Describtion,species_status,status
0,88,&dagger;scaniornis lundgreni,0,0.0,0,0.00,0,0,0,0,0,0,0,0,0,0,0,FALLBACK
1,44,abrolhos painted buttonquail,0,0.0,0,0.00,0,0,0,0,0,0,0,0,0,0,0,FALLBACK
2,9369,acanthis cabaret,0,0.0,0,0.00,0,0,0,0,0,0,0,0,0,0,0,FALLBACK
3,10147,acanthis hornemanni,0,0.0,0,0.00,0,0,0,0,0,0,0,0,0,0,0,FALLBACK
4,7470,accipiter chilensis,0,0.0,0,0.00,0,0,0,0,0,0,0,0,0,0,0,FALLBACK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10977,10972,tyto alba,Common Barn-Owl / Western Barn-Owl,458.1,Large,403.32,Human Modified,Open habitats,1,Carnivore,-55.72,58.07,3.24,2.28,63140525.19,0,Least Concern,ENRICHED
10978,9793,volatinia jacarina,Blue-black Grassquit,107.4,Small,9.94,Human Modified,Open habitats,1,Herbivore,-34.70,28.32,-7.41,-61.58,15248241.41,The blue-black grassquit (Volatinia jacarina) ...,extant,ENRICHED
10979,9168,xolmis irupero,White Monjita,208.2,Medium,28.70,Human Modified,Open habitats,2,Carnivore,-41.17,-4.02,-24.73,-57.45,3570599.32,The white monjita (Xolmis irupero) is a specie...,extant,ENRICHED
10980,9579,zenaida auriculata,Eared Dove,250.1,Medium,110.20,Human Modified,Open habitats,1,Herbivore,-55.05,14.10,-20.36,-59.30,11530888.21,The eared dove (Zenaida auriculata) is a New W...,Least Concern,ENRICHED
10981,10790,zenaida macroura,Mourning Dove,286.2,Medium,118.93,Human Modified,Open habitats,1,Herbivore,7.45,56.32,39.64,-99.32,11131808.01,0,extant,ENRICHED

In [14]:
df.isna().sum()

id                                0
Scientific_Name                   0
Common_Name                       0
size                              0
Size_category                     0
Mass                              0
Habitat                           0
Habitat_Category                  0
Migration                         0
Trophic_Level__Feeding_Habits_    0
Min_Latitude                      0
Max_Latitude                      0
Centroid_Latitude                 0
Centroid_Longitude                0
Range_Size                        0
General_Describtion               0
species_status                    0
status                            0
dtype: int64

In [20]:
! pwd

/home/ruth/code/brunothormaehlen/birdies/notebooks

In [15]:
df.to_csv('warehouse_231201-1523.csv')

In [17]:
df.columns

Index(['id', 'Scientific_Name', 'Common_Name', 'size', 'Size_category', 'Mass',
       'Habitat', 'Habitat_Category', 'Migration',
       'Trophic_Level__Feeding_Habits_', 'Min_Latitude', 'Max_Latitude',
       'Centroid_Latitude', 'Centroid_Longitude', 'Range_Size',
       'General_Describtion', 'species_status', 'status'],
      dtype='object')

In [23]:
species_full = pd.read_csv("../bird_data/bird_species.csv")

In [24]:
species_full

       species_no           scientific_name   species_id
0               1    lithoptila abdounensis  /m/0100hjcf
1               2    kurrartapu johnnguyeni  /m/010hmtwz
2               3           zosterops kirki  /m/011l7vvz
3               4         emberiza goslingi  /m/011py2_8
4               5  bambolinetta lignitifila  /m/01264yxh
...           ...                       ...          ...
10977       10978         aquila chrysaetos     /m/0m41v
10978       10979                   mallard    /m/01hjj1
10979       10980                bald eagle     /m/01dx8
10980       10981          struthio camelus     /m/05n4y
10981       10982  gallus gallus domesticus     /m/09b5t

[10982 rows x 3 columns]

In [28]:
augmented_warehouse = pd.merge(species_full, df_full, left_on = "species_no", right_on = "id", how = "left")

In [29]:
augmented_warehouse.to_csv('../bird_data/augmented_warehouse.csv')

In [30]:
augmented_warehouse

,species_no,scientific_name,species_id,id,Scientific_Name,size,Size_category,Mass,Habitat,Habitat_Category,Migration,Trophic_Level__Feeding_Habits_,Min_Latitude,Max_Latitude,Centroid_Latitude,Centroid_Longitude,Range_Size,General_Describtion,species_status
0,1,lithoptila abdounensis,/m/0100hjcf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,kurrartapu johnnguyeni,/m/010hmtwz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,zosterops kirki,/m/011l7vvz,3.0,zosterops kirki,105.2,Small,8.87,Forest,Semi-open habitats,1,Omnivore,-11.94,-11.36,-11.66,43.34,1031.48,Kirk's white-eye (Zosterops kirki) is a specie...,Least Concern
3,4,emberiza goslingi,/m/011py2_8,4.0,emberiza goslingi,151.3,Medium,12.98,Rock,Open habitats,2,Herbivore,5.28,17.22,12.03,9.44,2902333.70,"Gosling's bunting[2] (Emberiza goslingi), also...",Least Concern
4,5,bambolinetta lignitifila,/m/01264yxh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10977,10978,aquila chrysaetos,/m/0m41v,10978.0,aquila chrysaetos,1011.6,Large,4247.97,Grassland,Open habitats,2,Carnivore,6.36,71.12,50.67,38.05,39450257.98,None,Not Evaluated
10978,10979,mallard,/m/01hjj1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10979,10980,bald eagle,/m/01dx8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10980,10981,struthio camelus,/m/05n4y,10981.0,struthio camelus,1369.4,Large,111000.00,Shrubland,Open habitats,1,Herbivore,-30.91,22.47,2.55,19.29,8595319.06,None,extant
10981,10982,gallus gallus domesticus,/m/09b5t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
augmented_warehouse[augmented_warehouse.index == 1043]['General_Describtion'].iloc[0]

'The pearl-bellied white-eye (Zosterops grayi) is a species of bird in the family Zosteropidae. It is native to the Kai Islands in Indonesia.'

In [32]:
augmented_warehouse[augmented_warehouse.index == 10979]['General_Describtion'].iloc[0]

nan