# 50 species that made it into the model

In [20]:
import pandas as pd

In [62]:
class_names = ['2091', '10024', '10154', '10279', '10382', '10460', '10474', '10491',
               '10512', '10517', '10527', '10542', '10569', '10588', '10592', '10627',
               '10636', '10644', '10657', '10692', '10694', '10703', '10705', '10720',
               '10759', '10796', '10804', '10808', '10823', '10828', '10833', '10841',
               '10848', '10883', '10896', '10921', '10939', '10944', '10949', '10952',
               '10966', '7980', '8643', '9042', '9149', '9463', '9547', '9763', '9944', '9980']

In [84]:
our_50_df = pd.DataFrame(class_names, columns=['species_no']).astype(int)
our_50_df

    species_no
0         2091
1        10024
2        10154
3        10279
4        10382
5        10460
6        10474
7        10491
8        10512
9        10517
10       10527
11       10542
12       10569
13       10588
14       10592
15       10627
16       10636
17       10644
18       10657
19       10692
20       10694
21       10703
22       10705
23       10720
24       10759
25       10796
26       10804
27       10808
28       10823
29       10828
30       10833
31       10841
32       10848
33       10883
34       10896
35       10921
36       10939
37       10944
38       10949
39       10952
40       10966
41        7980
42        8643
43        9042
44        9149
45        9463
46        9547
47        9763
48        9944
49        9980

In [85]:
our_50_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   species_no  50 non-null     int64
dtypes: int64(1)
memory usage: 528.0 bytes

In [86]:
filepath = '/Users/tristanspilker/code/brunothormaehlen/birdies/bird_data/warehouse_231205-1147.csv'

warehouse_df = pd.read_csv(filepath)

In [79]:
warehouse_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10982 entries, 0 to 10981
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           10982 non-null  int64
 1   species_no           10982 non-null  int64
 2   scientific_name      10982 non-null  object
 3   Common_Name          10982 non-null  object
 4   size                 10982 non-null  object
 5   Size_category        10982 non-null  object
 6   Mass                 10982 non-null  object
 7   Habitat              10982 non-null  object
 8   habitat_category     10982 non-null  object
 9   Migration            10982 non-null  object
 10  Trophic_Level        10982 non-null  object
 11  Min_Latitude         10982 non-null  object
 12  Max_Latitude         10982 non-null  object
 13  Centroid_Latitude    10982 non-null  object
 14  Centroid_Longitude   10982 non-null  object
 15  Range_Size           10982 non-null  object
 16  General_Description  10982 non-null  object
 17  species_status       10982 non-null  object
 18  status               10982 non-null  object
 19  sound_url            10982 non-null  object
dtypes: int64(2), object(18)
memory usage: 1.7+ MB

In [82]:
warehouse_df.head(5)

,Unnamed: 0,species_no,scientific_name,Common_Name,size,Size_category,Mass,Habitat,habitat_category,Migration,Trophic_Level,Min_Latitude,Max_Latitude,Centroid_Latitude,Centroid_Longitude,Range_Size,General_Description,species_status,status,sound_url
0,0,4807,oenanthe lugentoides,unknown,46,Medium,22.4,Rock,Open habitats,Sedentary,Carnivore,unknown,unknown,unknown,unknown,unknown,The Arabian wheatear (Oenanthe lugentoides) is...,unknown,fallback,unknown
1,1,3883,delichon nipalense,Nepal House-Martin,146,Medium,14.96,Rock,Semi-open habitats,Migratory,Carnivore,20.77,30.22,25.74,96.45,543149.36,The Nepal house martin (Delichon nipalense)[2]...,extant,enriched,unknown
2,2,7350,sitta tephronota,Eastern Rock-Nuthatch,166,Medium,35.2,Rock,Open habitats,Sedentary,Omnivore,26.73,45.35,35.77,61.29,2326077.82,The Persian nuthatch[2] or the eastern rock-nu...,Least Concern,enriched,unknown
3,3,4675,amytornis housei,Black Grasswren,196,Medium,28.92,Rock,Open habitats,Sedentary,Omnivore,-17.02,-14.23,-15.83,125.47,32941.64,"The black grasswren (Amytornis housei), known ...",Least Concern,enriched,unknown
4,4,8312,carpodacus rubicilla,Caucasian Great-Rosefinch,221,Medium,43.2,Rock,Open habitats,Sedentary,Herbivore,25.67,50.18,34.78,87.24,3210935.5,The great rosefinch (Carpodacus rubicilla) is ...,Least Concern,enriched,unknown

In [94]:
Fifty_species_in_model = pd.merge(our_50_df, warehouse_df, on='species_no', how='left')
Fifty_species_in_model = Fifty_species_in_model[['species_no','scientific_name','Common_Name','General_Description']]
Fifty_species_in_model = Fifty_species_in_model.sort_values('species_no').set_index('species_no')
Fifty_species_in_model

,scientific_name,Common_Name,General_Description
species_no,,,
2091,corvus violaceus,Violet Crow,The violet crow (Corvus violaceus) is a specie...
7980,carduelis corsicana,Corsican Finch,"The Corsican finch (Carduelis corsicana), also..."
8643,aethia pusilla,Least Auklet,The least auklet (Aethia pusilla) is a seabird...
9042,cyanopica cooki,Iberian Magpie,The Iberian magpie (Cyanopica cooki) is a bird...
9149,locustella fluviatilis,River Warbler,The river warbler (Locustella fluviatilis) is ...
9463,anthus petrosus,Eurasian Rock Pipit,"The European rock pipit (Anthus petrosus), or ..."
9547,aethia cristatella,Crested Auklet,The crested auklet (Aethia cristatella) is a s...
9763,carduelis citrinella,Citril Finch,"The citril finch (Carduelis citrinella), also ..."
9944,acrocephalus paludicola,Aquatic Warbler,The aquatic warbler (Acrocephalus paludicola) ...
9980,lanius meridionalis,Iberian Gray Shrike,The Iberian grey shrike (Lanius meridionalis) ...
10024,ficedula albicollis,Collared Flycatcher,The collared flycatcher (Ficedula albicollis) ...
10154,acrocephalus palustris,Marsh Warbler/Eurasian Reed Warbler,The marsh warbler (Acrocephalus palustris) is ...
10279,ficedula parva,Red-breasted Flycatcher,The red-breasted flycatcher (Ficedula parva) i...
10382,larus glaucoides,Iceland Gull,The Iceland gull (Larus glaucoides) is a mediu...
10460,alectoris graeca,Rock Partridge,The rock partridge or common rock partridge (A...
10474,gavia arctica,Arctic Loon / Black-throated Loon,"The black-throated loon (Gavia arctica), also ..."
10491,aythya nyroca,Ferruginous Duck,"The ferruginous duck (Aythya nyroca), also kno..."
10512,gavia stellata,Red-throated Loon,The red-throated loon (North America) or red-t...
10517,certhia familiaris,Eurasian Treecreeper,The Eurasian treecreeper or common treecreeper...
10527,anthus pratensis,Meadow Pipit,The meadow pipit (Anthus pratensis) is a small...
10542,larus fuscus,Lesser Black-backed Gull,The lesser black-backed gull (Larus fuscus) is...
10569,fratercula cirrhata,Tufted Puffin,"The tufted puffin (Fratercula cirrhata), also ..."
10588,geronticus eremita,Northern Bald-Ibis,"The northern bald ibis, hermit ibis, or waldra..."
10592,nucifraga caryocatactes,Spotted Nutcracker,"The spotted nutcracker, Eurasian nutcracker, o..."
10627,columba oenas,Stock Dove,The stock dove or stock pigeon (Columba oenas)...
10636,mergus serrator,Red-breasted Merganser,The red-breasted merganser (Mergus serrator) i...
10644,aquila adalberti,Spanish Imperial-Eagle,"The Spanish imperial eagle (Aquila adalberti),..."
10657,motacilla cinerea,Gray Wagtail,The grey wagtail (Motacilla cinerea) is a memb...
10692,lanius excubitor,Great Gray Shrike,The great grey shrike (Lanius excubitor) is a ...
10694,cinclus cinclus,White-throated Dipper,"The white-throated dipper (Cinclus cinclus), a..."
10703,bucephala clangula,Common Goldeneye,The common goldeneye or simply goldeneye (Buce...
10705,geococcyx californianus,Greater Roadrunner,The greater roadrunner (Geococcyx californianu...
10720,himantopus himantopus,Black-winged Stilt,The black-winged stilt (Himantopus himantopus)...
10759,larus argentatus,European Herring Gull,The European herring gull (Larus argentatus) i...
10796,alectoris rufa,Red-legged Partridge,The red-legged partridge (Alectoris rufa) is a...
10804,phoenicurus ochruros,Black Redstart,The black redstart (Phoenicurus ochruros) is a...
10808,anas acuta,Northern Pintail,The pintail or northern pintail (Anas acuta) i...
10823,bombycilla garrulus,Bohemian Waxwing,The Bohemian waxwing (Bombycilla garrulus) is ...
10828,regulus regulus,Goldcrest,The goldcrest (Regulus regulus) is a very smal...
10833,falco columbarius,Merlin,The merlin (Falco columbarius) is a small spec...
10841,coccothraustes coccothraustes,Hawfinch,The hawfinch (Coccothraustes coccothraustes) i...
10848,spinus spinus,Eurasian Siskin,The Eurasian siskin (Spinus spinus) is a small...
10883,scolopax rusticola,Eurasian Woodcock,The Eurasian woodcock (Scolopax rusticola) is ...
10896,streptopelia decaocto,Eurasian Collared-Dove,The Eurasian collared dove (Streptopelia decao...
10921,buteo buteo,Common Buzzard,The common buzzard (Buteo buteo)[2] is a mediu...
10939,cygnus olor,Mute Swan,The mute swan (Cygnus olor) is a species of sw...
10944,ardea cinerea,Gray Heron,The grey heron (Ardea cinerea) is a long-legge...
10949,cygnus atratus,Black Swan,The black swan (Cygnus atratus) is a large wat...
10952,columba livia,Rock Pigeon / Rock Dove,"The rock dove, rock pigeon, or common pigeon (..."
10966,carduelis carduelis,European Goldfinch,The European goldfinch or simply the goldfinch...

In [95]:
Fifty_species_in_model.to_csv('Fifty_species_in_model.csv')